<nav class="site-nav">
	<ul class="site-nav_list" data-sly-use.navigation="com.adobe.aem.assessment.singtel.core.models.MegamenuModel">
		<li class="site-nav-li" data-sly-repeat="${navigation.items}">
			<a href="${item.url}" data-sly-test="${item.hideInNav != 'true'}"> ${item.title} </a><br>
			<sly data-sly-test="${item.children}">
				<sly data-sly-test="${item.hideAllSubPages != 'true'}">
					<ul class="site-nav_list">
						<li class="site-nav-li" data-sly-repeat="${item.children}">
							<a href="${item.url}" data-sly-test="${item.hideInNav != 'true'}"> ${item.title} </a>
							<sly data-sly-test="${item.children}">
								<ul class="site-nav_list" data-sly-test="${item.hideAllSubPages != 'true'}">
									<sly data-sly-repeat="${item.children}" >
										<li class="site-nav-li" data-sly-test="${item.hideInNav != 'true'}">
											<a href="${item.url}"> ${item.title} </a>
										</li>
									</sly>
								</ul>
							</sly>
						</li>
					</ul>
				</sly>
			</sly>
		</li>
	</ul>
</nav>